[submodule "vim/lightline.vim"]
	path = vim/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/vim-commentary"]
	path = vim/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim-markdown"]
	path = vim/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/vim-polyglot"]
	path = vim/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/plugged/vim-commentary"]
	path = vim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/plugged/vim-polyglot"]
	path = vim/plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/plugged/lightline.vim"]
	path = vim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/plugged/vim-markdown"]
	path = vim/plugged/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/plugged/ale"]
	path = vim/plugged/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/plugged/nerdtree"]
	path = vim/plugged/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/plugged/vim-airline"]
	path = vim/plugged/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "aur/brave-bin"]
	path = aur/brave-bin
	url = https://aur.archlinux.org/brave-bin.git
[submodule "aur/ttf-font-awesome-4"]
	path = aur/ttf-font-awesome-4
	url = https://aur.archlinux.org/ttf-font-awesome-4.git
[submodule "aur/nordvpn-bin"]
	path = aur/nordvpn-bin
	url = https://aur.archlinux.org/nordvpn-bin.git
[submodule "aur/polybar"]
	path = aur/polybar
	url = https://aur.archlinux.org/polybar.git
[submodule "aur/texcount"]
	path = aur/texcount
	url = https://aur.archlinux.org/texcount.git
[submodule "aur/pandoc-bin"]
	path = aur/pandoc-bin
	url = https://aur.archlinux.org/pandoc-bin.git
[submodule "aur/dwarftherapist-git"]
	path = aur/dwarftherapist-git
	url = https://aur.archlinux.org/dwarftherapist-git.git
[submodule "aur/teams"]
	path = aur/teams
	url = https://aur.archlinux.org/teams.git
[submodule "vim/plugged/vimwiki"]
	path = vim/plugged/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "aur/r8152-dkms"]
	path = aur/r8152-dkms
	url = https://aur.archlinux.org/r8152-dkms.git
