
/*
Sirula uses GTK and can be themed with CSS (https://developer.gnome.org/gtk3/stable/chap-css-overview.html)
This theme was tested on top of Adwaita-Dark.
See consts.rs for a list of defined classes and names.
The style.css can be omitted but sirula will not look very nice since there are no hardcoded margins.
To remove the global theme completely, use
* { all: unset; }
*/

* {
    font-family: Hermit;
    font-size: 20px;
}

.background {
    background: transparent;
    
}

.background, #app-list, .overlay-indicator {
    background: transparent;
}

#root-box {
  border-style: solid;
  border-width: 6px 0px 0px 6px;
  border-color: cyan;
  border-radius: 20 0 0 0;
  background:rgba(0,0,0,0.8);
  min-width: 300px;
  min-height: 400px;
  padding: 0;
}

.app-row {
    border-radius: 0px;
    padding: 5px 3px;
    margin: 0 3px;
    background-clip: padding-box;
    color: white;
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 0 3;
}

.app-row:focus {
    outline: unset;
}

.app-row:selected {
    background:transparent;
    border-color: cyan;
}

.app-label {
    margin-left: 10px;
}

#app-list {
  margin: 0 15 15 0;
  border-style: double solid;
  border-color: cyan;
  border-width: 0px 1px 6px 0px;
  border-radius: 0 0 10 0;
}


scrollbar.vertical slider {
    background-color: alpha(white, 0.15);
}

#search {
    border-style: solid;
    border-color: cyan;
    border-width: 0px 0px 1px 0px;
    border-radius: 0;
    outline: unset;

    background: transparent;
    box-shadow: unset;
    font-size: 22px;
    padding: 12 13 12 13;
    color: white;
    outline: none;
    caret-color: transparent;
}

selection {
    background-color: alpha(#dc69ff, 0.5);
} 