[Unit]
Description=Gmail synchronization service

[Service]
Type=oneshot
; - because script may be non-zero (eg, no connection)
ExecStart=-/home/mitata/dotfiles/scripts/email.sh gmail
